
<project name="configSetup" >
	<typedef name="pluginRoot" classname="com.aslan.sfdc.build.ant.PluginRoot" classpath="../bin" />

	<dirname property="config.script.home" file="${ant.file}" />
	<dirname property="config.home" file="${config.script.home}" />
	<dirname property="config.root" file="${config.home}" />
	<property name="config.release.home" value="${config.home}${file.separator}release" />
	<property name="config.tmp.home" value="${config.home}${file.separator}tmp" />
	
	<property name="config.partner.jar" value="${config.release.home}/javaforce.jar" />
	<property name="config.partner.jar.full" value="${config.release.home}/javaforceFull.jar" />
</project>